body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: rgb(245, 246, 248);
    margin: 4vh;
    font-size: 14px;
}
/*cabeçalho*/
header{
    text-align: center;
    font-size: 10px;
    line-height: 1.3;
}
.letterorange{
    color: #DD660A;
}
/*Main submission e listener*/
article{
    display: flex;
    flex-direction: column;

}
article h2, h1{
    font-size: 20px;
}
.banner{
    width: 310px;
    height: 110px;
    background-color: #88085B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Main Calendar*/
.calendarcontainer{
    background-color: antiquewhite;
}
.datacontainer{
    display: flex;
    justify-content: space-evenly;
    
}
.datacontainer div {
    display: flex;
    flex-direction: column;
    line-height: 0%;
    background-color: #DD660A;
    width: 68px;
    align-items: center;
}
.datacontainer div p{
    font-size: 2vh;
    font-weight: 400;
}
.datacontainer div h1{
    font-size: 2.5vh;
    font-weight: 400;
}
/*Botões*/
#participante, #ouvinte, #programacao{
    background-color: #EF9A36;
    border-style: none;
    width: fit-content;
    padding: 1.3vh;
    border-radius: 7px;
}

/*Display PC*/
@media (max-with: 360px) {
   
    p {
        
        font-size: 14px;
    }
}